<html>
<head>
    <title>Landing Dashboard</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="style.css">  
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="solve.png" alt width="85px">
            </a>
            
            <div class="col-container" id="navbar" style="background-color: rgb(255, 255, 255);">
                <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;padding-top:10px;">
                    <li>
                        <a href="#" style="color: black;">    
                            <img src="person-24px@2x.png" alt="person" width="40px" height="40px" style="margin-left: -137px; position: absolute; background: transparent url('img/person-24px.png') 0% 0% no-repeat padding-box;">
                        </a>
                        <a href="#" style="color: black;">
                            <img src="notifications-24px@2x.png" alt="notifications" width="30px" height="35px" style="margin-left: -67px; margin-top: 3px; position: absolute; background: transparent url('img/notifications-24px.png') 0% 0% no-repeat padding-box;">
                        </a>
                            <img src="pexels-photo-3184642.png" alt="pexel" width="50px" height="57px" style="margin-left: 6px; margin-top: -7px; background: transparent url('img/notifications-24px.png') 0% 0% no-repeat padding-box;">&nbsp<u>Karl Marks</u>
                        <a href="#" style="color: black;">
                            <i class="fa fa-sort-down" style="font-size:24px"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column-left">
                <div class="box">
                    <br><br>
                    <div class="classes">
                        <br>
                            <a href="#" style="color: rgb(0, 0, 0); text-decoration: none; width: 70px; font-size: 25px; margin-left: 39px; margin-top: -7px; position: absolute; font-family: Segoe UI, Regualar;  ">Classes</a>
                        <div class="classes1">
                            <br><br><br>
                            <a href="#" style="color: black;"><img src="elearning@2x.png" alt="join" width="32px" height="32px" style="margin-top: -9px;"><br>
                                <p style="margin-left: -11px;">Join Class</p>
                            </a>

                            <a href="#" style="color: black;"><img src="teamwork@2x.png" alt="join" width="32px" height="32px" style="margin-top: 94px; margin-left: 1px;" ><br>
                                <p style="margin-left: -29px;">Create New Class</p>
                            </a>

                            <a href="#" style="color: black;"><img src="bank (1)@2x.png" alt="join" width="32px" height="32px" style="margin-top: 219px; margin-left: 1px;" ><br>
                                <p style="margin-left: -26px;">Create Institute</p>
                            </a>

                            <a href="#" style="color: black;"><img src="bank (3)@2x.png" alt="join" width="32px" height="32px" style="margin-top: 350px; margin-left: 1px;" ><br>
                                <p style="margin-left: -20px;">Join Institute</p>
                            </a>
                        </div>
                    </div>  
                </div>       
                      
                <div class="quiz_maker">
                    <br>
                        <a href="#" style="color: rgb(0, 0, 0); text-decoration: none; font-size: 25px; margin-left: 39px; margin-top: -7px; position: absolute; font-family: Segoe UI, Regualar;  ">Quiz Maker</a>
                </div>

                <div class="archieved">
                    <br>
                    <a href="#" style="color: rgb(0, 0, 0); text-decoration: none; font-size: 25px; margin-left: 39px; margin-top: -7px; position: absolute; font-family: Segoe UI, Regualar;  ">Archieved Class</a>
                </div>

                <div class="log_out">
                    <br>
                    <a href="#">
                        <p style="color: #FFFFFF; position: absolute; margin-left: 61px; margin-top: 330px; font-size: 19px;">Log Out</p>
                        <img src="power_settings_new-24px.png" width="25px" height="25px" style="margin-left: 133px; margin-top: 331px; "></a>
                </div>               
            </div>

            <div class="column-center">
                <div class="box">
                    <br>
                    <p style="margin-left: 35px; color: #000000; font-size: 20px;">Classes</p>
                    <div class="boxes">
                        <a href="#">                                                      
                            <p style="color: white; bottom: 81px; ">Physics Class</p>
                        </a>
                        <br>
                        <i class="fa fa-ellipsis-h" style="font-size:24px; color: rgb(207, 24, 24);"></i>
                       
                    </div>
                        <br>
                    <div class="boxes">
                        <a href="#">                                                      
                            <p style="color: white; bottom: 81px; ">Mathematics</p>
                        </a>
                        <br>
                        <i class="fa fa-ellipsis-h" style="font-size:24px; color: rgb(207, 24, 24);"></i>
                       
                    </div>
                    <!-- <div class="physics">
                            
                            <a href="#">                                                      
                                <p style="margin-left: 238px; color: white; position: absolute; bottom: 81px; ">Physics Class</p>
                            </a>
                            <br>
                            <i class="fa fa-ellipsis-h" style="font-size:24px; color: rgb(207, 24, 24);"></i> -->
                            <!-- <div class="dropdown" style="margin-top: 23px;">                                
                                <a href="#" style="color: #707070; text-decoration: none;"><p>edit</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>view class code</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>add new member</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>archieve class</p></a>
                            </div> -->
                        <!-- </div>
                        <br><br>
                        <div class="maths">
                            <a href="#"> -->
                                <!-- <img src="more_horiz-24px.png" width="28px" height="28px" style="margin-left: 490px;"> -->
                                <!-- <p style="margin-left: 224px; color: white; position: absolute; bottom: 81px; ">Mathematics Class</p>
                            </a> -->
                            <!-- <div class="dropdown" style="margin-top: -72px;">
                                <a href="#" style="color: #707070; text-decoration: none;"><p>edit</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>view class code</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>add new member</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>archieve class</p></a>
                            </div> -->
                        <!-- </div>
                        <br><br>
                        <div class="thinking">
                            <a href="#"> -->
                                <!-- <img src="more_horiz-24px.png" width="28px" height="28px" style="margin-left: 490px;">
                                <p style="margin-left: 229px; color: white; position: absolute; bottom: 81px; ">Critical Thinking</p>
                            </a> -->
                            <!-- <div class="dropdown" style="margin-top: -72px;">
                                <a href="#" style="color: #707070; text-decoration: none;"><p>edit</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>view class code</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>add new member</p></a>
                                <a href="#" style="color: #707070; text-decoration: none;"><p>archieve class</p></a>
                            </div> -->
                        </div>
                </div>
            </div>

            <div class="column-right">
                <div class="notice-board">
                    <p style="margin-top: 16px; margin-left: 16px; font-size: 27px; font-family: Segoe UI, Regular; text-align: left; color: #000000; opacity: 1;">Noticeboard</p>
                    <a href="#">
                        <img src="post_add-24px.png" style="margin-top: -53px; margin-left: 219px;">
                        <p style="margin-left: 71%; margin-top: -6px; position: absolute;">add notice</p>
                    </a>
                </div>
                <br>
                <div class="green-board">
                    <br>
                        <div class="subject">
                            <p style="margin-top: 6px; margin-left: 13px; font-size: 17px; position: absolute; color: #000000; text-align: left;">Mechanics Notice</p>
                        </div>
                        <div class="notice">
                            <p style="margin-top: 24px; position: absolute; font-size: 17px; margin-left: 11px;"><b>Mechanics Class<br>Rescheduled to<br>11:00am - 01: 00pm</br></p>
                            <p style="margin-top: 109px; margin-left: 73px; font-size: small; position: absolute; color: #707070;">06:47 pm, 27th Jan. 2020</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
     
</body>
</html>

  